<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/add-post']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item-sliding *ngFor="let post of posts">
            <ion-item href="home">
                <ion-label>
                    <h2>{{post.title}}</h2>
                    <p>{{post.details}}</p>
                </ion-label>
                <ion-note slot="end">
                    10:45 AM
                </ion-note>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option>
                    <ion-icon slot="icon-only" name="heart"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
                <ion-item-option color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
                <ion-item-option>
                    <ion-icon slot="icon-only" name="star"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>